* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

body {
    padding: 5px;
    background-color: rgba(0, 0, 0, 0);
}

@media(max-width:900px) {
    body {
        padding: 0px;
        background-color: black;
    }

}

.middle-line {
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 20px 20px;
}

.line {
    width: 30%;
    /* Độ dài đường thẳng */
    height: 2px;
    background-color: #fff;

}

.wrapper {
    background-image: url(/assets/images/body-bg.png);
    display: grid;
    width: 80%;
    margin: 0 auto;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-rows: auto auto 100px  600px 300px; */
    grid-template-rows: minmax(100px, 1fr);
    grid-template-areas:
        "header header header"
        "askus askus askus"
        "question question question"
        "question-detail question-detail question-detail"
        "question-special question-special question-special"
        "footer footer footer"
        "info info info";
    column-gap: 10px;
    row-gap: 5px;
    /* border: 1px solid gray; */
}

.askus {
    grid-area: askus;
    width: 100%;
    height: 60vh;
    background-image: url(/assets/images/askus-banner.jpeg);
    background-size: cover;
    align-items: center;
    background-position: center;
}

.question {
    grid-area: question;
    min-height: 100px;
    text-align: center;
    justify-content: center;
    align-items: center;


}

.question h2 {
    color: #FFF;
    font-size: 60px;
    font-weight: 600;
}

.question-detail {
    grid-area: question-detail;
    min-height: 400px;
    color: #FFF;
    width: 95%;
    margin: auto;
}

.question-detail h4 {
    font-size: 30px;
    background-color: rgb(235, 166, 4);
    padding: 7px 15%;
    line-height: 40px;
    margin-top: 30px;
}

.question-detail p {
    font-size: 22px;
    line-height: 40px;
    padding: 5px 15%;
    letter-spacing: 2px;
}

@media(max-width:1024px) {
    .askus {
        height: 50vh;
    }
}

@media(max-width:900px) {
    .wrapper {
        width: 98%;
    }

    .askus {
        height: 40vh;
    }

    .question h2 {
        font-size: 30px;
    }

    .question-detail {
        width: 100%;
        margin: auto;
    }

    .question-detail h4 {
        font-size: 18px;
        padding: 5px 5px;
        text-align: center;
        line-height: 25px;
    }

    .question-detail p {
        padding: 5px 10px;
    }

}

.question-special {
    grid-area: question-special;
    min-height: 200px;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #FFF;
}

.question-special h2 {
    font-size: 60px;

}


@media(max-width:900px) {
    .question-special {
        min-height: 100px;
    }

    .question-special h2 {
        font-size: 25px;
    }
}

.contact {
    width: 90%;
    display: grid;
    grid-template-columns: 5, 1fr;
    grid-template-areas: "item1 item2 item3 item4 item5";
    margin: auto;
    background-color: #FFF;
    min-height: 60px;
    border-radius: 90px 90px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.item1 {
    grid-area: item1;
}

.item1 img {
    margin-left: 10px;
}

.item2 {
    grid-area: item2;
}

.item2 img {
    width: 50%;
    margin: 5px 30px;
}

.item3 {
    grid-area: item3;
}

.item3 img {
    width: 50%;
    margin: 5px 30px;
}

.item4 {
    grid-area: item4;
}

.item4 img {
    width: 50%;
    margin: 5px 30px;
}

.item5 {
    grid-area: item5;
}

.item5 img {
    width: 50%;
    margin: 5px 30px;
}

@media(max-width:900px) {
    .contact {
        display: grid;
        width: 100%;
        border-radius: 0%;
        background-color: transparent;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            /* "item1 item1" */
            "item2 item3"
            "item4 item5"
        ;
        row-gap: 20px;
        margin-top: 40px;
    }

    .item1 img {
        display: none;
    }

    .item2 img {
        width: 70%;
        margin: auto;
    }

    .item3 img {
        width: 70%;
        margin: auto;

    }

    .item4 img {
        width: 70%;
        margin: auto;
    }

    .item5 img {
        width: 70%;
        margin: auto;
    }



}