.askus-container {
    width: 100%;
    margin: auto;
}

.askus-banner {
    width: 100%;
    height: 90vh;
    background-image: url(/assets/images/askus-banner.jpeg);
    background-size: cover;
    align-items: center;
    background-position: center;
}

.askus-main-text {
    width: 50%;
    margin: auto;
}

.askus-main-text h2 {
    text-align: center;
    font-size: 60px;
    font-weight: 800;
    line-height: 80px;

}

.askus-middle-line {
    margin: 15px auto;
    width: 10%;
    height: 2px;
    background-color: #fff;
}

.askus-title {
    height: 22px;
    width: 90%;
    background-color: rgb(243, 201, 50);
}

.askus-title h3 {
    padding-left: 100px;
    color: #fff;
    font-size: 20px;

}

.askus-details {
    width: 100%;
    margin: auto;
}

.askus-details p {
    color: #fff;
    font-size: 16ppx;
    padding: 15px 100px;
    line-height: 30px;
}

/* app contact */

.app-icon {
    width: 80%;
    display: flex;
    margin: auto;
    background-color: #fff;
    border-radius: 90px 90px;
}
.app-icon .icon-col1{
    width: 50%;
    margin: auto;
    padding-left: 100px;
}
.app-icon .icon-col2{
    width: 50%;
    padding-left: 50px;
    margin: auto;
}
.app-icon .icon-col1 img{
    width: auto;
}
.app-icon .icon-col2 img {
width: 80px;
height: 80px;

}

@media(max-width:700px){
    .askus-banner{
        width: 100%;
        margin: auto;
        height: 30vh;
        background-size:cover;
        background-position: center;
    }
     .askus-main-text {
        width: 100%;
     }
    .askus-main-text h2{
        font-size: 30px;
        line-height: 40px;
    }
      .askus-title{
        width: 100%;
        margin: auto;
        height: 16px;
      }
     .askus-title h3{
        font-size: 13px;
        padding-left: 10px;
     }

    .askus-details p{
        font-size: 14px;
        padding-left: 30px;
    }
    .app-icon{
        width: 95%;
        margin: auto;
    }
    .app-icon .icon-col1{
        width: 30%;
        padding-left: 20px;
    }
    .app-icon .icon-col1 img{
        width: 150px;
    }
    .app-icon .icon-col2{
        padding-left: 20px;
    }
    .app-icon .icon-col2 img{
        width: 40px;
        height: 40px;
    }
}