.footer {
    grid-area: footer;
    min-height: 300px;

}

.footer-main {
    min-height: 200px;
    display: flex;
    width: 100%;
    column-gap: 5px;
    margin: 5px 5px;
}



.footer-left {
    width: 50%;
    margin: auto;
    line-height: 40px;
}

.footer-left h2 {
    color: #F4D074;
    font-size: 35px;
    letter-spacing: 5px;

}

.footer-left h3 {
    padding-top: 30px;
    color: #030303;
    font-size: 25px;
    letter-spacing: 5px;
}

.footer-left p {
    color: #030303;
}

.stars {
    color: #F4D074;
    font-size: 30px;
}

.footer-right {
    width: 45%;
    margin: auto;

}

.footer-right img {
    width: 100%;

}

.footer-info {
    width: 100%;
    min-height: 100px;
    color: #030303;
    line-height: 30px;
    padding-left: 40px;
    text-align: center;
    font-weight: bold;
}

.footer-line {
    width: 80%;
    height: 2px;
    background-color: #F4D074;
}

.icon {
    display: flex;
    column-gap: 10px;
}

.icon-item {
    width: 10%;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.icon-text {
    width: 50%;
}

@media(max-width:700px) {
    .footer {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas:
            "footer-left"
            "footer-right"
        ;

    }

    .footer-left {
        grid-area: footer-left;
        width: 100%;
        text-align: center;
    }

    .footer-left h2 {
        font-size: 25px;
        letter-spacing: 2px;
    }

    .footer-line {
        width: 100%;
    }

    .footer-right {
        width: 100%;
        grid-area: footer-right;
        margin: auto;

    }

    .footer-left h3 {
        font-size: 20px;
        letter-spacing: 2px;
    }

    .footer-left p {
        font-size: 12px;
    }

    .footer-main {
        display: block;
        width: 100%;

    }

    .footer-info {
        padding-left: 5px;
    }

    .icon {
        padding-left: 15%;
    }
}