.footer {
    grid-area: footer;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
    font-family: serif;
}



.footer-img {
    row-gap: 10px;
    column-gap: 10px;
    margin: 10px 10px;
}

.footer-img img {
    width: 100%;
    padding: 10px 10px;
    /* border: 1px solid gray; */
}

.footer-text {
    padding-top: 40px;
    padding-left: 30px;
    row-gap: 10px;
    column-gap: 10px;
    /* border: 1px solid gray; */
    margin: 10px 10px;

}

.footer-text h2 {
    color: white;
    font-family: serif;
    font-size: 30px;
}

.footer-text h3 {
    font-size: 20px;
    color: white;
    line-height: 30px;
    font-family: serif;
    padding-top: 25px;
}

.footer-text p {
    color: white;
    line-height: 30px;
    font-family: serif;
    font-size: 20px;
}

.stars {
    font-size: 40px;
    color: gold;
    display: flex;
    gap: 10px;
    padding-left: 10px;
    margin-bottom: 10px;
}

.footer-line {
    width: 50%;
    background-color: #fff;
    height: 2px;
}

.info {
    grid-area: info;
    color: #fff;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 4px;
    padding: 15px 30px;
}

@media(max-width:900px) {
    .footer {
        grid-template-columns: 1fr;
        row-gap: 5px;
    }

    .footer-line {
        margin: auto;
        align-items: center;
    }

    .footer-text h2 {
        font-size: 22px;
    }

    .footer-text h3 {
        font-size: 20px;
        line-height: 30px;
    }

    .footer-text p {
        line-height: 30px;
    }

    .footer-text {
        margin: 10px;
        text-align: center;
        align-items: center;
    }

    .stars {
        margin: auto;
        align-items: center;
        text-align: center;
        justify-content: center;
        padding-bottom: 20px;
    }

    .info {
        font-size: 15px;
        text-align: center;
        letter-spacing: normal;
    }
}
