* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

body {
    margin: auto;
    background-color: rgba(0, 0, 0, 0.049);
}

.text-line {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
    /* Khoảng cách giữa chữ và đường */


}

.text {
    width: 30%;
    /* % TEXT */
    font-size: 35px;
    font-weight: bold;
    color: #CDA541;
    padding: 20px 20px;
}

.line {
    width: 65%;
    /* Độ dài đường thẳng */
    height: 2px;
    background-color: #CDA541;
}

@media(max-width:1024px) {
    .text {
        font-size: 20px;
    }

    .line {
        width: 40%;
        margin-left: 60px;
    }
}

@media(max-width:700px) {
    .text {
        font-size: 20px;
    }

    .line {
        width: 50%;
        margin-left: 60px;
    }
}



@media(max-width:900px) {
    body {
        padding: 0px;
        background-color: black;
    }

}

.wrapper {
    background-image: url(/assets/images/body-background.png);
    background-size: 100%;
    display: grid;
    width: 80%;
    margin: 0 auto;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-rows: auto auto 100px  600px 300px; */
    grid-template-rows: minmax(100px, 1fr);
    grid-template-areas:
        "header header header"
        "banner banner banner"
        "welcome welcome welcome"
        "content-01 content-01 content-01"
        "content-02 content-02 content-02"
        "content-03 content-03 content-03"
        "footer footer footer"
        "info info info";
    column-gap: 10px;
    row-gap: 10px;
    /* border: 1px solid gray; */
}

.banner {
    grid-area: banner;

}

.welcome {

    grid-area: welcome;
    height: 60px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.welcome img {
    width: 80%;
}

.content-01 {
    grid-area: content-01;
    display: grid;
    grid-template-columns: 1fr 2fr;
    min-height: 300px;
    column-gap: 10px;
}

.content-img img {
    width: 100%;
    object-fit: cover;
}



.content-img {
    /* border: 1px solid gold; */
    margin: 15px;
}

.content-text {
    /* border: 1px solid gold; */
    margin: 15px;

}

.content-text h3 {
    color: #030303;
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 2px;
    text-decoration: solid;
    padding-left: 10px;
    padding-top: 20px;
}


.content-02 {
    grid-area: content-02;
    margin: 15px;
}

.content-02 h3 {
    color: #030303;
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 2px;
    text-decoration: solid;
    padding: 20px 20px;

}

.content-03 {
    grid-area: content-03;
    margin: 15px;
}
@media(max-width:700px) {
    .wrapper {
        width: 98%;
    }

    .content-01 {
        grid-template-columns: 1fr;
        row-gap: 10px;
    }

    .welcome {
        height: 30px;
    }
    .content-text h3{
        font-size: 14px;
        letter-spacing: 2px;
        padding: 0%;
    }
    .content-02 h3{
        font-size: 14px;
        letter-spacing: 2px;
        padding: 0%;
    }
    .footer-info{
        font-size: 15px;
        
       
    }
}
