* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

nav {
    background: transparent;
    padding: 5px 40px;
}

nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

nav ul li {
    padding: 15px 0;
    cursor: pointer;
}

nav ul li.items {
    position: relative;
    width: auto;
    margin: 0 15px;
    text-align: center;
    order: 1;
}

nav ul li a {
    color: white;
    font-size: 16px;
    text-decoration: none;
}

nav ul li.items:hover:after {
    opacity: 1;
    bottom: 15px;
}

nav ul li a:hover {
    color: yellow;
}

nav ul li.logo {
    flex: 1;
    color: yellow;
    font-size: 24px;
    font-weight: 600;
    user-select: none;
}

nav ul li i {
    font-size: 24px;
}

nav ul li.btn {
    display: none;
}

nav ul li.btn.hide i:before {
    content: '\f00d';
}


@media all and (max-width:800px) {
    nav {
        padding: 5px 30px;
    }

    nav ul li.items {
        width: 100%;
        display: none;
    }

    nav ul li.items:hover {
        box-shadow: inset 0 0 5px cyan,
            inset 0 0 15px cyan;
        border-radius: 30px;
    }

    nav ul li.items:hover:after {
        opacity: 0;
    }

    nav ul li.items.show {
        display: block;
    }

    nav ul li.btn {
        display: block;
    }
}