.full-line {
    width: 100%;
    /* Độ dài đường thẳng */
    height: 2px;
    background-color: #fff;
}

.reg-section-01 {
    width: 100%;
    margin: auto;

}

.reg-section-cover {
    margin-bottom: 20px;
}

.rgt-text {
    width: 100%;
    margin-top: 30px;
    padding-bottom: 20px;



}

.srt-line {
    width: 20%;
    /* Độ dài đường thẳng */
    height: 2px;
    background-color: #fff;
    margin: auto;


}

.srt-text {
    display: flex;
    height: 30px;
    width: 60%;
    color: #fff;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    margin: auto;
}

.srt-text1 {
    display: block;
    width: 50%;
    margin: auto;
    text-align: center;
}

.srt-text1 p {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 20px;
}

@media(max-width:700px) {
    .srt-text {
        font-size: 16px;
        width: 100%;
        font-weight: 400;
    }

    .srt-line {
        margin-top: 8px;
        width: 100px;
    }

    .srt-text1 p {
        font-size: 14px;

    }

}



/* Start Section 2 */
.reg-section-02 {
    width: 100%;
    margin: auto;
}

.member-circle-col {
    width: 20%;

}


.member-text {
    width: 60%;
}

.member-qrcode {
    width: 20%;
    align-items: center;
}

/* member 1 */
.member-01 {
    display: flex;
    width: 90%;
    /* height: 20vh; */
    border-radius: 90px 90px;
    /* Bo góc trên trái và trên phải */
    border: #fff solid 1px;
    margin: 20px auto;
    background-color: #fff;

}

.member-01 .member-text h2 {
    color: black;
    padding-top: 60px;
    font-weight: 600;
    text-align: center;

}


@media(max-width:700px) {
    .member-01 {
        display: flex;
        width: 97%;
        background-color:#fff;

        justify-content: center;
    }

    .member-text {
        width: 100%;
    }

    .member-01 .member-circle {
        margin-left: 10px;
        width: 80px;
        height: 80px;
    }

    .member-01 .member-circle p {
        font-size: 15px;

    }

    .member-01 .member-text h2 {
        color:black;

        text-align: center;
        padding-top: 40px;
        font-size: 14px;
        line-height: 30px;
    }
}

/* Member 2 */

.member-02 {
    display: flex;
    width: 90%;
    /* height: 20vh; */
    border-radius: 90px 90px;
    /* Bo góc trên trái và trên phải */
    border: #fff solid 1px;
    margin: 20px auto;
    background-color: #fff;

}

.member-02 .member-circle-col {
    padding-top: 70px;
}

.member-02 .member-text {
    text-align: center;
    padding: 80px 10px;
}

.member-02 .member-text h2 {
    color: black;
}

.member-02 .member-text p {
    font-weight: 600;
}

.member-qrcode img {
    width: 80%;
    padding-top: 30px;
}

@media(max-width:700px) {

    .member-02 {
        display: flex;
        width: 97%;
        background-color:#fff;
    }

    .member-02 .member-text {
        text-align: center;
        padding: 15px 10px
    }

    .member-02 .member-text h2 {
        color:black;
        text-align: center;
        font-size: 14px;
        line-height: 30px;
    }

    .member-02 .member-text p {
        color:black;
        font-size: 14px;
        font-weight: 400;
    }

    .member-02 .member-circle-col {
        padding: 30px 0px;
    }

    .member-02 .member-circle {
        width: 80px;
        height: 80px;

    }

    .member-02 .member-circle p {
        font-size: 15px;
    }

    .member-02 .member-qrcode {
        margin-top: 30px;
        padding-right: 5px;
    }


}



.member-03 {
    display: flex;
    width: 90%;
    /* height: 20vh; */
    border-radius: 90px 90px;
    /* Bo góc trên trái và trên phải */
    border: #fff solid 1px;
    margin: 20px auto;
    background-color: #fff;

}

.member-03 .member-text {
    text-align: center;
    padding-top: 30px;
}

.member-03 .member-text h2 {
    color: black;
    font-weight: 600;

}

@media(max-width:700px) {
    .member-03 {
        display: flex;
        width: 97%;
        border: #fff solid 1px;
        background-color:#fff;
        justify-content: center;
    }

    .member-03 .member-text {
        text-align: center;
        padding-top: 20px;
    }

    .member-03 .member-text h2 {
        color:black;
        text-align: center;
        font-size: 14px;
        line-height: 30px;
        padding: 0px 6px;
    }

    .member-03 .member-circle {
        margin-left: 10px;
        width: 80px;
        height: 80px;
    }

    .member-03 .member-circle p {
        font-size: 15px;
    }
}

.member-circle {
    width: 130px;
    height: 130px;
    background-color: rgba(204, 157, 4, 0.915);
    border-radius: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    text-align: center;
}

.member-circle p {
    padding-top: 30%;
    font-size: 35px;
    font-weight: 900;
}

/* Picture section */
.member-picture img{
    width: 100%;
    margin: 10px 0px;
}

@media(max-width:700px){
    .color-line{
        height: 5px;
    }
}