

.container {
    width: 100%;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 0;
}

.swiper {
    width: 100%;
    height: fit-content;

}

.swiper-slide img {
    width: 100%;
}

.swiper .swiper-button-next,
.swiper .swiper-button-prev {
    color: #fff;
}

.swiper .swiper-pagination-bullet-active {
    background: #fff;
}