@import url("https://fonts.googleapis.com/css2?family=Playpen+Sans+Hebrew:wght@100..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;

}


.short-line {
    width: 15%;
    /* Độ dài đường thẳng */
    margin-left: 10px;
    height: 2px;
    background-color: #060000;

}

h1 {
    font-size: 50px;
    line-height: 50px;
    color: yellow;



}

h2 {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 40px;
    color: cornsilk;
}

body {
    width: 100%;
    /* background-color: rgb(62, 157, 160); */
    background-image: linear-gradient(rgba(2, 1, 11, 0.448), rgba(2, 1, 11, 0.448)), url(/assets/images/body-bg.png);
    background-repeat: repeat-x repeat-y;

}

/*--------------Start Menu------------------------*/
.header {
    width: 100%;
    margin: auto;
}

.menu {
    width: 95%;
    justify-content: center;
}

nav {
    width: 100%;
    background: transparent;
    padding-left: 15%;

}

nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

nav ul li {
    padding: 15px 0;
    cursor: pointer;
}

nav ul li.items {
    position: relative;
    width: auto;
    margin: 0 15px;
    text-align: center;
    order: 1;
}

nav ul li a {
    color: white;
    font-size: 16px;
    text-decoration: none;
}

nav ul li.items:hover:after {
    opacity: 1;
    bottom: 15px;
}

nav ul li a:hover {
    color: yellow;
}

nav ul li.logo {
    flex: 1;
    color: yellow;
    font-size: 24px;
    font-weight: 600;
    user-select: none;
}

nav ul li i {
    font-size: 24px;
}

nav ul li.btn {
    display: none;
}

nav ul li.btn.hide i:before {
    content: '\f00d';
}


@media all and (max-width:700px) {
    nav {
        padding-left: 80px;

    }

    nav ul li.items {
        width: 100%;
        display: none;
    }

    nav ul li.items:hover {
        box-shadow: inset 0 0 5px cyan,
            inset 0 0 15px cyan;
        border-radius: 30px;
    }

    nav ul li.items:hover:after {
        opacity: 0;
    }

    nav ul li.items.show {
        display: block;
    }

    nav ul li.btn {
        display: block;
    }
}

/*------------------EndMenu---------------*/


/*S-------Start banner----------------*/
#banner {
    width: 100%;
    margin: auto;
    display: flex;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 200px;
    margin-top: 0%;
}

#navbar li {
    list-style: none;
    padding: 20px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: azure;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
    color: coral;
}


.container {
    width: 100%;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 0;
}

.swiper {
    width: 100%;
    height: fit-content;

}

.swiper-slide img {
    width: 100%;
}

.swiper .swiper-button-next,
.swiper .swiper-button-prev {
    color: #fff;
}

.swiper .swiper-pagination-bullet-active {
    background: #fff;
}

/*------------------start chia vung welcome móc---------------*/

.welcome-text {
    width: 100%;
    margin: auto;
}

.img-top {
    width: 100%;
    justify-content: center;
    position: absolute;
    top: 925px;
    z-index: 2;
}

.img-top img {
    width: 100%;

}

.welcome-text h2 {
    text-align: center;
    color: yellow;
}


/*------------------End chia vung welcome móc---------------*/




/*------------------Start Welcome details---------------*/

.welcome {
    width: 80%;
    margin: auto;
    padding-top: 2px;
    padding-bottom: 2px;

}

.welcome h2 {
    text-align: center;
    color: yellow;
    padding-top: 20px;
}

.row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

@media(max-width:700px) {
    .row {
        flex-direction: column;
    }

    .welcome h2 {
        font-size: 19px;
    }

    .img-top {
        display: none;
    }

}



.infor-col {
    flex-basis: 20%;
    border: #fff 1px solid;
    margin-bottom: 10px;
}

.infor-col img {
    width: 100%;


}

.infor-col1 {
    flex-basis: 78%;
    padding: 10px 20px;

    margin-bottom: 5px;
    border: #fff 1px solid;
}

.infor-col1 h2 {
    color: yellow;
    text-align: center;

}

.infor-col1 p {
    color: #fff;
    padding-top: 20px;
    line-height: 30px;

}



.information1 {
    width: 80%;
    margin: auto;
    text-align: left;
    border: #fff 1px solid;
    padding: 0px 12px;
}

.information1 p {
    color: #fff;
    padding-top: 20px;
    line-height: 30px;
}

/*------------------End Welcome details---------------*/



/*------------------start vạch chia khung---------------*/

.col-02 {
    width: 100%;
    margin: auto;
}

.row-col {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    width: 80%;

}

.infor {
    flex-basis: 20%;
    padding-left: 40px;
}

.infor1 {
    flex-basis: 80%;
    padding-top: 30px;
    padding-left: 20px;
}

/*------------------End start vạch chia khung ---------------*/

.footer {
    width: 100%;
    margin: auto;


}

.footer-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;

}

.footer-col {
    flex-basis: 48%;
    margin: 20px 40px;
    margin-bottom: 20px;

}


.footer-col img {
    width: 100%;


}

.footer-col h2 {
    color: #fff;
    font-size: 35px;
    font-weight: 600;
    padding-left: 20px;
}

.footer-col h3 {
    color: #fff;
    font-size: 22px;

    padding-left: 20px;
}

.footer-col p {
    color: #fff;
    font-size: 16px;
    line-height: 40px;
    padding-left: 20px;
}

.footer-line {
    width: 80%;
    height: 2px;
    background-color: #fff;
    margin: 10px 20px;
}


@media(max-width:700px) {
    .footer-row {
        flex-direction: column;
        padding-top: 2px;
    }

    .footer-col h2 {
        font-size: 22px;

    }

    .footer-col h3 {
        font-size: 18px;
    }

    .footer-col p {
        font-size: 14px;

    }

    .footer-col .stars {
        padding-left: 15px;
    }
}

.img-bottom img {
    width: 100%;
}


/*------------------EVENTS PAGE ---------------*/


/*------------------start promo ---------------*/
.promotion {
    width: 100%;
    margin: auto;
    padding-bottom: 50px;
}

.text-line {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
    /* Khoảng cách giữa chữ và đường */


}

.text {
    width: 20%;
    /* % TEXT */
    font-size: 25px;
    font-weight: bold;
    color: #fff;
    padding: 15px 70px;
}

.line {
    width: 70%;
    /* Độ dài đường thẳng */
    height: 2px;
    background-color: #fff;
}

/*------------------End promo ---------------*/
.event-text {
    color: #fff;
    text-align: center;
    font-size: 30px;
}

.pro-container {
    display: flex;
    flex-wrap: wrap;
    width: auto;
    /* Điều chỉnh kích thước theo ý muốn */
    gap: 10px;
    margin: auto;
    padding: 20px 50px;
    justify-content: center;
}

.pro-container img {
    width: 32%;
    /* Chia thành 3 cột, trừ đi khoảng cách */
    height: auto;
}

.text-line {
    padding-top: 30px;
}

@media(max-width:700px) {
    .pro-container {
        flex-direction: column;
        padding: 5px 10px;
    }

    .text {
        padding-left: 45px;
    }

    .pro-container img {
        width: 100%;
    }

    .text-line .line {
        width: 40%;
        margin-left: 70px;
    }

    .event-text {
        font-size: 20PX;
    }
}

/* EVENTS START */
.event-img-text {
    width: 48%;
    margin: auto;
    background-color: #fff;
    padding: 10px 10px;

}

.event-img-text img {
    width: 100%;
    height: auto;

}

.event-img-text h3 {
    color: black;
    padding: 20px 10px;
    font-size: 25px;
}

@media(max-width:700px) {
    .event-img-text {
        width: 100%;
    }
}

.price {
    padding: 20px 50px;


}

.price img {
    background-color: #fff;
    width: 100%;
    padding: 10px 10px;
}

.explore {
    width: 48%;
    border: #fff solid 1px;
}

.explore img {
    width: 100%;

}

.explore h2 {
    color: #fff;
    font-size: 30px;
    line-height: 30px;
    padding: 30px 20px;
}

.explore h3 {
    color: #fff;
    font-size: 20px;
    line-height: 30px;
    padding-left: 20px;
}

.explore p {
    color: #fff;
    font-size: 16px;
    line-height: 30px;
    padding-left: 20px;
}

@media(max-width:700px) {
    .explore {
        width: 100%;
    }

    .explore h2 {
        font-size: 18px;
    }

    .explore h3 {
        font-size: 15px;
    }
}

/* EVENTS END */


/* GAMING GUIDE START */
.g-container {
    width: 100%;
    margin: auto;
}

.gaming-container {
    width: 100%;
    margin: auto;
}

.guide-bg {
    background-image: linear-gradient(rgba(62, 6, 62, 0.448), rgba(2, 1, 11, 0.448)), url("/assets/images/gaming-guide.jpg");
    width: 100%;
    height: 70vh;
    background-position: center;
    background-size: cover;
}

.guide-bg h2 {
    color: #fff;
    font-size: 60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding-top: 35vh;
}

@media(max-width:700px) {
    .guide-bg {
        background-size: cover;
        background-repeat: no-repeat;
        height: 30vh;
    }

    .guide-bg h2 {
        padding-top: 25%;
        font-size: 35px;
    }
}

.color-line {
    height: 20px;
    background-color: rgb(241, 237, 3);
}

.game-line {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
    /* Khoảng cách giữa chữ và đường */


}

.g-text {
    width: 70%;
    /* % TEXT */
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    padding: 15px 10px;
}

.g-line {
    width: 20%;
    /* Độ dài đường thẳng */
    height: 2px;
    background-color: #fff;
}

.game-rule {
    width: 100%;
    justify-content: center;
    padding-bottom: 20px;
}

.game-rule h2 {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.game-rule h6 {
    color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    font-style: italic;
    padding: 5px 300px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.game-rule p {
    color: #fff;
    padding: 5px 300px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

@media(max-width:700px) {
    .game-rule {
        width: 100%;
        margin: auto;

    }

    .game-rule h2 {
        font-size: 12px;
        padding: 0px 10px;
        color: #fff;
    }

    .game-rule p {
        font-size: 14px;
        padding: 5px 30px;
    }

    .game-rule h6 {
        font-size: 14px;
        padding: 5px 40px;
    }

    .g-text {
        font-size: 14px;
    }
}

.type-bg {
    background-image: linear-gradient(rgba(62, 6, 62, 0.448), rgba(2, 1, 11, 0.448)), url("/assets/images/gaming-type.jpg");
    width: 100%;
    height: 70vh;
    background-position: center;
    background-size: cover;
}

.type-bg h2 {
    color: #fff;
    font-size: 60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding-top: 35vh;
}

@media(max-width:700px) {
    .type-bg {
        background-size: cover;
        background-repeat: no-repeat;
        height: 30vh;
    }

    .type-bg h2 {
        padding-top: 25%;
        font-size: 35px;
    }
}


/* GAMING GUIDE END */


/* GAMING TYPE PICTURE */
.type-container {
    width: 100%;
    margin: auto;
}

.type-con-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-color: #fff;
    padding: 50px 70px;
}

.type-con-col {
    width: 48%;
    background-color: #fff;
    padding: 9px 9px;
}

type-con-col img {
    width: 100%;

}

.type-con-col h2 {
    color: #e6e917;
    font-size: 35px;
    padding: 5px 20px;
}

.type-con-col p {
    color: #060000;
    font-size: 14px;
    padding: 5px 20px;
    line-height: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

@media(max-width:700px) {
    .type-con-row {
        display: block;
        padding: 10px 10px;
    }

    .type-con-col {
        width: 100%;
    }

    .type-con-col img {
        width: 100%;
        padding: 2px 2px;
    }

}

.type-con-row1 {
    width: 100%;
    margin: auto;
    justify-content: center;
    display: flex;
}

.type-con-col1 {
    width: 50%;
    background-color: #fff;
    padding: 9px 9px;

}

.type-con-col1 h2 {
    color: #e6e917;
    font-size: 35px;
    padding: 5px 20px;
}

.type-con-col1 p {
    color: #060000;
    font-size: 14px;
    padding: 5px 20px;
    line-height: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.type-con-col1 img {
    width: 100%;
}

@media(max-width:700px) {
    .type-con-row1 {
        display: block;
        padding: 10px 10px;
    }

    .type-con-col1 {
        width: 100%;
    }

}

/* GAMING TYPE  FOOTER */
.sub-footer-row {
    display: flex;
    width: 100%;

}

.sub-footer-col {
    width: 48%;
    padding-right: 30px;
    padding: 5px 5px;

}

.sub-footer-col h3 {
    color: #fff;
    padding: 20px 0px;
}

.sub-footer-col p {
    color: #fff;
}

.logo-footer {
    width: 40%;
    margin-left: 30%;
    margin-top: 50px;
}


.sub-footer-col p img {
    padding-left: 5px;


}

.sub-cover {
    width: 100%;
    display: flex;
}

.img-col {
    width: 10%;
    padding-left: 5px;

}

.img-col img {
    padding-left: 10px;
    padding-top: 5px;

}

.txt-col {
    width: 70%;

}

.txt-col p {
    padding-left: 20px;
    padding-top: 20px;
}

/* styles.css */
.stars {
    font-size: 40px;
    color: gold;
    display: flex;
    gap: 5px;
    padding-left: 10px;
}

@media(max-width:700px) {
    .sub-footer-row {
        flex-direction: column;
        width: 100%;
    }

    .sub-footer-col {
        width: 100%;
    }

    .sub-footer-col h2 {
        font-size: 18px;
        padding-left: 40px;
    }

    .stars {
        font-size: 25px;
        padding-left: 40px;
    }

    .sub-footer-col h3 {
        font-size: 14px;
        padding-left: 40px;
    }

    .logo-footer {
        width: 50%;
        padding-top: 10px;
    }

    .sub-footer-col p {
        font-size: 12px;
        padding-left: 60px;
    }

    .img-col img {
        padding-left: 40px;
    }

}